h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-color: white;
}
header{
     
  overflow: hidden;
}
#top-header{
         
  text-align: center;
  height: 60px;
}
#logo{
  float: left;
  padding: none;
  margin: none;
  width: 30%;
}

#logo img{
  width: 60%;
  float: left;
  padding: 10px 0px;
}   
#menu{
  float: right;

  margin: none;
}
   
#menu ul{
  text-align: center;
  float: right;
  margin: none;
  background: gold;
}
   
#menu li{
  display: inline-block;
  padding: none;
  margin: none;
}
   
#menu li a, #menu li span{
  display: inline-block;
  padding: 0em 1.5em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 60px;
}
   
#menu li a{
       
  color: #FFF;
}
   
#menu li:hover a, #menu li span{
  background: #FFF;
  color: #0074D9;
  border-left: 1px solid #0074D9;
  text-decoration: none;
}
.glow{
    font-size: 40px;
  color: black;
  text-align: center;
  font-size: 20px;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px  #d3041c , 0 0 40px  #d3041c , 0 0 50px  #d3041c , 0 0 60px  #d3041c , 0 0 70px  #d3041c ;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px  #9a0414 , 0 0 40px  #9a0414 , 0 0 50px  #9a0414 , 0 0 60px  #9a0414 , 0 0 70px  #9a0414 , 0 0 80px  #9a0414 ;
  }
}